
<app-app-header></app-app-header>
<div class="row">  
    <div class="col-sm-4"></div>  
    <div class="col-sm-4" >  <h3>Update Password</h3>
<div style="width: 400px;" >  
   
            <form (ngSubmit)="checkPassword()" [hidden]="isUpdate"> 
              
             <div  class="form-group">    
                    <label for="name">Email</label>  
                    <input type="text" class="form-control"  required [(ngModel)]="entity.email" name="email" data-toggle="tooltip"   
                    data-placement="right" title="Enter your email id" >  
                    
                </div>  
        
       <div class="form-group">  
          <label for="name">Password</label>  
          <input type="text" class="form-control" required [(ngModel)]="entity.currentPassword" name="currentPassword" data-toggle="tooltip"   
             data-placement="right" title="Enter your current password" >  
         

      </div>  
      <table>
        <tr>
          <td> <button type="submit" class="btn btn-success">Submit</button> </td>
          <td><button (click)="gotoUpdate()" class='btn btn-primary'>Back</button></td>
        </tr>
      </table>
     
    </form></div>
    </div>
   </div>
    <div class="row"> 

      
        <div class="col-sm-4"></div>  
        <div class="col-sm-4" >  
    <div style="width: 400px;" >  
     <form (ngSubmit)="updatePassword()" [hidden]="!isUpdate"> 
      <div  class="form-group">  
          <label for="name">Password</label>  
          <input type="text" class="form-control" required [(ngModel)]="entity.password" name="password" data-toggle="tooltip"   
             data-placement="right" title="Enter Password" >  
          
      </div>  
      <div  class="form-group">  
          <label for="name">confirm Password</label>  
          <input type="text" class="form-control" required [(ngModel)]="entity.confirmPassword" name="confirmPassword" data-toggle="tooltip"   
             data-placement="right" title="Enter confirm Password" >  
          
      </div>  
      <table>
        <tr>
          <td>  <button type="submit" class="btn btn-success">Submit</button> </td>
          <td><button (click)="gotoUpdate()" class='btn btn-primary'>Back</button></td>
        </tr>
      </table>
    
      </form></div>
      </div>
      </div>


      <div class="row"> 
        <div class="col-sm-4"></div>  
        <div class="col-sm-4" >  
    <div style="width: 400px;" >       
      </div></div></div>
      <app-app-footer></app-app-footer>