<app-app-header></app-app-header>
<div class="panel panel-default"> 
  
    <div class="panel-heading">  
        <h1 style="text-align: center">Employees</h1><br>  
        <div style="width: 400px;">  

        <form [formGroup]="employeesearchform"  (ngSubmit)="getEmployee()">  
         <div>  <tr>
             <td>
            <label for="name">Enter id :</label></td><td>
            <input type="number" class="form-control"  formControlName="id" data-toggle="tooltip"   
               data-placement="right" ></td><td>
       <button type="submit" class="btn btn-success">Search</button> 
             </td>  </tr>   </div> 
       </form>
        </div>
        <div class="row" [hidden]="!deleteMessage">  
               
                  <div class="col-sm-4"></div>  
                  <div class="col-sm-4">  
                          <div class="alert alert-info alert-dismissible">  
                                  <button type="button" class="close" data-dismiss="alert">×</button>  
                                  <strong>Employee Data Deleted</strong>  
                          </div>  
                  </div>  
                  <div class="col-sm-4"></div>  
          </div>  
          
          <div class="row" [hidden]="!deactivate">  
               
            <div class="col-sm-4"></div>  
            <div class="col-sm-4">  
                    <div class="alert alert-info alert-dismissible">  
                            <button type="button" class="close" data-dismiss="alert">×</button>  
                            <strong>Employee Deactivated</strong>  
                    </div>  
            </div>  
            <div class="col-sm-4"></div>  
    </div>             
    
    
     
       
    <div class="panel-body"  class="row" >  
        <table  class="table table-hover table-sm" datatable [dtOptions]="dtOptions"  
        [dtTrigger]="dtTrigger"  >  
            <thead class="thead-light">  
                <tr>
                    <th>Employee Id</th>
                    <th>Username</th>
                    <th>Firsname</th>
                    <th>Lastname</th>
                     <th>Emai Id</th>  
                     <th>DateOfBirth</th> 
                     <th></th>
                     <th></th>
                     <th></th>
                      
                </tr>  
            </thead>  
            <tbody [hidden]="!show">  
                 <tr *ngFor="let employ of employees"> 
      
                     <td>{{employ.emp_id}}</td>
                    <td>{{employ.username}}</td>  
                    <td>{{employ.employee_detail.firstname }}</td>
                    <td> {{employ.employee_detail.lastname}} </td>
                    <td>{{employ.emp_contacts.email}}</td>  
                    <td> {{employ.employee_detail.dob}} </td>

                    <td><button (click)="deleteEmployee(employ.emp_id)" class='btn btn-primary'>Delete</button>   
                    </td>
                    <td> <button (click)="gotoDetail(employ.emp_id)" class='btn btn-info'>Detail</button>  
                    </td>  
                  
                  <td><button (click)="deactivateEmployee(employ.emp_id)" class='btn btn-primary'>deactivate</button> 
                   </td> 

                  </tr>   
            </tbody><br>  
            
            <!-- <tbody *ngIf="employee" [hidden]="show">  
              <tr> 
                <td>{{employee.emp_id}}</td>
                 <td>{{employee.username}}</td>  
                 <td>{{employee.emp_contacts.email}}</td>  
                 <td>{{employee.employee_detail.firstname }}</td>
                  <td> {{employee.employee_detail.lastname}} </td>
                  <td>{{employee.emp_contacts.email}}</td>  
                  <td> {{employee.employee_detail.dob}} </td> 
              </tr>
              <tr>     
                 <td><button (click)="deleteEmployee(employee.emp_id)" class='btn btn-primary'>Delete</button>   
                 </td>
                 <td> <button (click)="gotoDetail(employee.emp_id)" class='btn btn-info'>Detail</button>  
                 </td>  
               
               <td><button (click)="deactivateEmployee(employee.emp_id)" class='btn btn-primary'>deactivate</button> 
                </td> 
                <td><button (click)="goBack()" class='btn btn-primary'>Back</button> 
                </td> 
               </tr>   
         </tbody> -->
        </table>  
    </div>     
  </div>  
    <hr/>
    </div>
    <app-app-footer></app-app-footer>
    





























 