<!-- <td><button (click)="gotoUpdatePass(requestEntity.emp_id)">click here to change password</button></td> -->

<app-app-header></app-app-header>

<div class="row" [hidden]="!detail">
   <div class="col-sm-4"></div>


   <div class="col-sm-4">
      <div class="row" style="width: 400px;">

         <form>
            <h2>Employee Details</h2>
            <table>
               <tr>
                  <label><b>Id: </b></label> {{employee?.emp_id}}
               </tr>
               <tr>
                  <label><b>UserName: </b></label> {{employee?.username}}
               </tr>
               <tr>
                  <label><b>name: </b></label>
                  {{employee?.employee_detail?.firstname }}
                  {{employee?.employee_detail?.lastname}}<br>
               </tr>
               <tr>
                  <label><b>Fathers name: </b></label> {{employee?.employee_detail?.fathersName}}
               </tr>
               <tr>
                  <label><b>Date of Birth: </b></label> {{employee?.employee_detail?.dob}}
               </tr>
               <tr>
                  <label><b>Contact no: </b></label> {{employee?.emp_contacts?.contact}}
               </tr>
               <tr>
                  <label><b>Aletrnate Contact: </b></label> {{employee?.emp_contacts?.altername_contact}}
               </tr>
               <tr>
                  <label><b>Role: </b></label> {{employee?.emp_contacts?.email}}
               </tr>
               <tr>
                  <label><b>Salary: </b></label> {{employee?.employment_Detail?.salary}}
               </tr>
               <tr>
                  <label><b>Date of joining: </b></label> {{employee?.employment_Detail?.joining_date}}
               </tr>
               <tr>
                  <label><b>Previous company: </b></label> {{employee?.employment_Detail?.previous_company}}
               </tr>
               <tr>
                  <label><b>Experience: </b></label> {{employee?.employment_Detail?.experience}}
               </tr>
               <tr>
                  <label><b> {{empAddress.addType }} Address: </b></label>
               </tr>
               <tr>
                  <label><b>city: </b></label> {{empAddress.city}},
                  <label><b>Dist: </b></label> {{empAddress.dist}},
                  <label><b>State: </b></label> {{empAddress.state}},
                  <label><b>Country: </b></label> {{empAddress.country}},
                  <label><b>Pincode: </b></label> {{empAddress.pincode}}
               </tr>
               <tr>
                  <label><b>{{empAddress1.addType }} Address: </b></label>
               </tr>
               <tr>
                  <label><b>city: </b></label> {{empAddress1.city}},
                  <label><b>Dist: </b></label> {{empAddress1.dist}},
                  <label><b>State: </b></label> {{empAddress1.state}},
                  <label><b>Country: </b></label> {{empAddress1.country}},
                  <label><b>Pincode: </b></label> {{empAddress1.pincode}}
               </tr>
               <tr>
                  <td><button (click)="gotoUpdate()" class='btn btn-primary'>Edit</button> </td>
                  <!-- <td> <button (click)="gotoList()" class='btn btn-primary'>Back</button> </td> -->
               </tr>

            </table>
         </form>
         <!-- <div *ngFor="let education of employee.education">
   
    <label><b>Education detail: </b></label>  {{education}}
  </div>
  <div  *ngFor="let address of employee.address">
    <label><b>Address: </b></label>{{address}}
  </div><br> -->




      </div>
   </div>
</div>

<!-- <div class="row" [hidden]="detail">
   <div class="col-sm-4"></div>


   <div class="col-sm-4">
      <div class="row" style="width: 400px;">
         <form (ngSubmit)="updateEmployee()" *ngIf="requestEntity">
            <h2>Update Employee</h2>
            <div class="form-group">
               <label for="name">UserName</label>
               <input type="text" class="form-control" required [(ngModel)]="requestEntity.username" name="username"
                  data-toggle="tooltip" data-placement="right" title="Enter username">

            </div>

            <div class="form-group">
               <label for="name">Date Of birth</label>
               <input type="date" class="form-control" required [(ngModel)]="requestEntity.employee_detail.dob"
                  name="dob" data-toggle="tooltip" data-placement="right" title="Enter date of birth">
            </div>

            <div class="form-group">
               <label for="name">Firstname</label>
               <input type="text" class="form-control" [(ngModel)]="requestEntity.employee_detail.firstname"
                  name="firstname" data-toggle="tooltip" data-placement="right" title="Enter firstname">

            </div>
            <div class="form-group">
               <label for="name">LastName</label>
               <input type="text" class="form-control" [(ngModel)]="requestEntity.employee_detail.lastname"
                  name="lastname" data-toggle="tooltip" data-placement="right" title="Enter lastname">

            </div>
            <div class="form-group">
               <label for="name">Fathersname</label>
               <input type="text" class="form-control" [(ngModel)]="requestEntity.employee_detail.fathersName"
                  name="fathersname" data-toggle="tooltip" data-placement="right" title="Enter Fathersname">

            </div>
            <div class="form-group">
               <label for="name">contact</label>
               <input type="number" class="form-control" [(ngModel)]="requestEntity.emp_contacts.contact" name="contact"
                  data-toggle="tooltip" data-placement="right" title="Enter password">

            </div>
            <div class="form-group">
               <label for="name">alternate Contact</label>
               <input type="number" class="form-control" [(ngModel)]="requestEntity.emp_contacts.altername_contact"
                  name="altername_contact" data-toggle="tooltip" data-placement="right" title="Enter alternateContact">

            </div>
            <div class="form-group">
               <label for="name">Employee Email</label>
               <input type="email" class="form-control" [(ngModel)]="requestEntity.emp_contacts.email" name="email"
                  data-toggle="tooltip" data-placement="right" title="Enter employee Email">

            </div>
            <div>
               <label for="add">Role</label>
               <select class="form-control" [(ngModel)]="requestEntity.employee_Role.role" name="role"
                  data-toggle="tooltip" data-placement="right" title="Select User type">
                  <option value="null">--Select type--</option>
                  <option value="Permanent">Admin</option>
                  <option value="Temporary">BackEndDeveloper</option>
                  <option value="Temporary">Tester</option>
                  <option value="Temporary">FrontEndDeveloper</option>

               </select>
            </div>
            <div class="form-group">
               <label for="name">salary</label>
               <input type="number" class="form-control" [(ngModel)]="requestEntity.employment_Detail.salary"
                  name="salary" data-toggle="tooltip" data-placement="right" title="Enter salary">

            </div>
            <div class="form-group">
               <label for="name">joining date</label>
               <input type="date" class="form-control" [(ngModel)]="requestEntity.employment_Detail.joining_date"
                  name="joining_date" data-toggle="tooltip" data-placement="right" title="Enter joining date">

            </div>


            <div class="form-group">
               <label for="name">Experience</label>
               <input type="number" class="form-control" [(ngModel)]="requestEntity.employment_Detail.experience"
                  name="experience" data-toggle="tooltip" data-placement="right" title="Enter experience">

            </div>
            <div class="form-group">
               <label for="name">previous Company</label>
               <input type="text" class="form-control" [(ngModel)]="requestEntity.employment_Detail.previous_company"
                  name="previous_company" data-toggle="tooltip" data-placement="right" title="Enter previousCompany">

            </div>

            <div class="form-group">
               <label for="add">Address Type</label>
               <select class="form-control" [(ngModel)]="empAddress.addType" name="addType" data-toggle="tooltip"
                  data-placement="right" title="Select adress type">
                  <option value="null">--Select type--</option>
                  <option value="Permanent">Permanent</option>
                  <option value="Temporary">Temporary</option>

               </select>
            </div>

            <div class="form-group">
               <label for="name">City</label>
               <input type="text" class="form-control" [(ngModel)]="empAddress.city" name="city" data-toggle="tooltip"
                  data-placement="right" title="Enter city">

            </div>
            <div class="form-group">
               <label for="name">District</label>
               <input type="text" class="form-control" [(ngModel)]="empAddress.dist" name="dist" data-toggle="tooltip"
                  data-placement="right" title="Enter district">

            </div>
            <div class="form-group">
               <label for="state">state</label>
               <input type="text" class="form-control" [(ngModel)]="empAddress.state" name="state" data-toggle="tooltip"
                  data-placement="right" title="Enter state">

            </div>
            <div class="form-group">
               <label for="name">country</label>
               <input type="text" class="form-control" [(ngModel)]="empAddress.country" name="country"
                  data-toggle="tooltip" data-placement="right" title="Enter country">

            </div>
            <div class="form-group">
               <label for="name">pincode</label>
               <input type="number" class="form-control" [(ngModel)]="empAddress.pincode" name="pincode"
                  data-toggle="tooltip" data-placement="right" title="Enter pincode">

            </div>

            <div class="form-group">
               <label for="add">Address Type</label>
               <select class="form-control" [(ngModel)]="empAddress1.addType" name="addType1" data-toggle="tooltip"
                  data-placement="right" title="Select adress type">
                  <option value="null">--Select type--</option>
                  <option value="Permanent">Permanent</option>
                  <option value="Temporary">Temporary</option>

               </select>
            </div>

            <div class="form-group">
               <label for="name">City</label>
               <input type="text" class="form-control" [(ngModel)]="empAddress1.city" name="city1" data-toggle="tooltip"
                  data-placement="right" title="Enter city">

            </div>
            <div class="form-group">
               <label for="name">District</label>
               <input type="text" class="form-control" [(ngModel)]="empAddress1.dist" name="dist1" data-toggle="tooltip"
                  data-placement="right" title="Enter district">

            </div>
            <div class="form-group">
               <label for="state">state</label>
               <input type="text" class="form-control" [(ngModel)]="empAddress1.state" name="state1"
                  data-toggle="tooltip" data-placement="right" title="Enter state">

            </div>
            <div class="form-group">
               <label for="name">country</label>
               <input type="text" class="form-control" [(ngModel)]="empAddress1.country" name="country1"
                  data-toggle="tooltip" data-placement="right" title="Enter country">

            </div>
            <div class="form-group">
               <label for="name">pincode</label>
               <input type="number" class="form-control" [(ngModel)]="empAddress1.pincode" name="pincode1"
                  data-toggle="tooltip" data-placement="right" title="Enter pincode">

            </div>



            <div class="form-group">
               <label for="name">qualification</label>
               <input type="text" class="form-control" [(ngModel)]="empEducation.qualification" name="qualification"
                  data-toggle="tooltip" data-placement="right" title="Enter qualification">

            </div>
            <div class="form-group">
               <label for="name">School/college name</label>
               <input type="text" class="form-control" [(ngModel)]="empEducation.sc_name" name="sc_name"
                  data-toggle="tooltip" data-placement="right" title="Enter School/college name">

            </div>
            <div class="form-group">
               <label for="name">Univercity</label>
               <input type="text" class="form-control" [(ngModel)]="empEducation.university" name="university"
                  data-toggle="tooltip" data-placement="right" title="Enter Univercity">

            </div>
            <div class="form-group">
               <label for="name">percentage</label>
               <input type="number" class="form-control" [(ngModel)]=" empEducation.perc" name="perc"
                  data-toggle="tooltip" data-placement="right" title="Enter percentage">

            </div>
            <div class="form-group">
               <label for="name">Passing year</label>
               <input type="date" class="form-control" [(ngModel)]="empEducation.pass_year" name="pass_year"
                  data-toggle="tooltip" data-placement="right" title="Enter Passing year">

            </div>
            <div>
               <table>
                  <tr>

                  </tr>
               </table>

            </div> -->
            <!-- <div  class="form-group">  
<label for="name">qualification</label>  
<input type="text" class="form-control"   [(ngModel)]="requestEntity.empEducation1.qualification" name="qualification1" data-toggle="tooltip"   
   data-placement="right" title="Enter qualification" >  

</div>  
<div  class="form-group">  
<label for="name">School/college name</label>  
<input type="text" class="form-control"   [(ngModel)]="requestEntity.empEducation1.sc_name" name="scName1" data-toggle="tooltip"   
   data-placement="right" title="Enter School/college name" >  

</div>  
<div  class="form-group">  
<label for="name">Univercity</label>  
<input type="text" class="form-control"   [(ngModel)]="requestEntity.empEducation1.university" name="university1" data-toggle="tooltip"   
   data-placement="right" title="Enter University" >  

</div>  
<div  class="form-group">  
<label for="name">percentage</label>  
<input type="number" class="form-control"   [(ngModel)]="requestEntity.emp_Education1.perc" name="perc1" data-toggle="tooltip"   
   data-placement="right" title="Enter percentage" >  

</div>  
<div  class="form-group">  
<label for="name">Passing year</label>  
<input type="date" class="form-control"   [(ngModel)]="requestEntity.emp_Education1.pass_year" name="passYear1" data-toggle="tooltip"   
   data-placement="right" title="Enter Passing year" >  

</div>         


<div  class="form-group">  
<label for="name">qualification</label>  
<input type="text" class="form-control"   [(ngModel)]="requestEntity.empEducation2.qualification" name="qualification2" data-toggle="tooltip"   
   data-placement="right" title="Enter qualification" >  

</div>  
<div  class="form-group">  
<label for="name">School/college name</label>  
<input type="text" class="form-control"   [(ngModel)]="requestEntity.empEducation2.sc_name" name="scName2" data-toggle="tooltip"   
   data-placement="right" title="Enter School/college name" >  

</div>  
<div  class="form-group">  
<label for="name">Univercity</label>  
<input type="text" class="form-control"   [(ngModel)]="requestEntity.empEducation2.university" name="university2" data-toggle="tooltip"   
   data-placement="right" title="Enter Univercity" >  

</div>  
<div  class="form-group">  
<label for="name">percentage</label>  
<input type="number" class="form-control"   [(ngModel)]="requestEntity.empEducation2.perc" name="perc2" data-toggle="tooltip"   
   data-placement="right" title="Enter percentage" >  

</div>  
<div  class="form-group">  
<label for="name">Passing year</label>  
<input type="date" class="form-control"   [(ngModel)]="requestEntity.empEducation2.pass_year" name="passYear2" data-toggle="tooltip"   
   data-placement="right" title="Enter Passing year" >  

</div>         
           -->
            <!-- <table>
               <tr>
                  <td> <button type="submit" class="btn btn-success">Submit</button> </td>
                  <td> <button (click)="getEmployee()" class="btn btn-success">cancel</button> </td>
               </tr>
            </table>




         </form>
      </div>
   </div>
</div> -->
<app-app-footer></app-app-footer>